<h1>About me</h1>
<ul>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'About Me', about_path %></li>
  <li><%= link_to '#1 Hits', hits_path %></li>
</ul>
<p>All you really need to know is that my current favorite song is "Blue" by Marina and the Diamonds from her new album, <i>Froot</i>. What's yours?</p>
