<h1>Welcome to the #1 Hits App!</h1>
<ul class="navbar">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'About Me', about_path %></li>
  <li><%= link_to '#1 Hits', hits_path %></li>
</ul>
<p>This app was designed in order to easily database #1 songs as determined by the <a href="http://www.billboard.com/charts/hot-100" target="_blank"><i>Billboard</i> Hot 100</a>. I have been personally collecting #1 songs in a playlist on my computer for the last couple years and it's one of my favorite hobbies. My current collection reaches from January 1, 1940 ("Indian Summer" by Tommy Dorsey and His Orchestra featuring Jack Leonard) to today ("Uptown Funk" by Mark Ronson featuring Bruno Mars).</p>

<p id="t">It's currently <%= current_date_and_time %>. Shouldn't I have already gotten a 4.0 by now?<p>